*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

footer {

 
    bottom: 0;    

height:auto;
width: 100%;
position: fixed;
left: 0;
text-align:right;
background-color:black;
opacity:0.7;


}


.carousel-caption {

    

}
/* Product Styling */
#ProductBtn {
    width:100%;
    border-radius:7px;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   text-align:center;

}
#ProductBtn2 {
    margin-top:0.8rem;
    width:20%;
    border-radius:7px;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   text-align:center;

}
#ProductBtnAlph {
    margin-top:0.8rem;
    width:20%;
    border-radius:7px;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   text-align:center;

}
.Breaker {

    border-bottom:2px solid white;
    box-shadow:5px 5px 10px fuchsia;


}
#Searcher {
    width:50%;
    margin:auto;
    background-color:#1b0e1e;
    box-shadow:3px 3px 5px fuchsia;
    outline:2px solid fuchsia;
    text-transform:uppercase;

}
Input  {


}
.Products {
display:flex;
margin:auto;
flex-wrap:wrap;
flex-direction:row;
width:70%;

}

#ItemTotal {

color:orange;


}
h2 {

    animation:fade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes fade {

    0% {

        opacity:0;

    }
    100% {

        opacity:1

    }

}


    
.Products .card {
transition-duration: 1s ;
width:20%;

&:hover {

    background-color:#1b0e1e;
    filter:grayscale(100%);

}
}


.ProductCardTxt {

    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

}


#ProductBtnTicket {
    margin-top:0.8rem;
    width:25%;
    border-radius:7px;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   text-align:center;

}
#ProductBtnSub {
    margin-top:0.8rem;
    width:25%;
    border-radius:7px;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   text-align:center;
}


/* Landing Page CSS */

.BGImg { 

    background-image:url("https://richtershotline.github.io/Pimages/Images/BackgroundClub.jpg");
    /* background-size: 100% auto;
    background-repeat: no-repeat; */
background-size:center;
background-position:center;
background-attachment:fixed;
padding:2rem;
}
.BGImg2 { 

    background-image:url("https://richtershotline.github.io/Pimages/Images/Payphone2.jpg");
    /* background-size: 100% auto;
    background-repeat: no-repeat; */
background-size:center;
background-position:center center;
background-attachment:fixed;
padding:2rem;
}
/* About Us Styling */
.BGImgAbout {
    background-image:url("https://richtershotline.github.io/Pimages/Images/BackgroundClub.jpg");
     background-size: 100% auto;
    background-repeat: no-repeat; 
background-size:center;
background-position:center;
background-attachment:fixed;
padding:2rem;

}
.TeamCon {


    margin:auto;
    width:50%;

}
#Team {


}
.collapse {

    display:flex;
    justify-content: center;

}
#Toast {
    width:30rem;
    margin:auto;
    box-shadow:5px 5px 10px fuchsia;
    outline:2px solid fuchsia;
}
.AboutBG {

    background-color:black;
    width:100%;
    height:auto;

}
#AboutText {
width:50%;
    height:auto;
margin:auto;
}

#TeamText {

    text-align:center;
    width:50%;
    margin:auto;

}
.AboutCenter {

    display:flex;

}
#AboutImg {
width:40%;
    height:auto;
    box-shadow:5px 5px 10px fuchsia;
    outline:2px solid fuchsia;
    margin-left:0.4rem;
}
#VipBtn {

    width:20%;
    height:5%;
    border-radius:7px;
   margin:auto;
   background-color:blueviolet;
   box-shadow:3px 3px 10px fuchsia;
   border:none;
   color:white;
   margin-top:9px;
   text-align:center;
   }
   
#BackgroundCon {

    background-color:black;
    opacity:0.7;
    width:100%;
    margin:auto;
    height:auto;
    text-align:center;
    padding:2rem;
    }
    /* Below Landing Page Styling */

    .BodConBG {

        width:25rem;
       margin:auto;
    
       
    }

    .BodConBG2 {

       margin:auto;
    
       
    }
    .BodConBG2 img {
        width:24.3rem;
        height:25rem;
        margin-top:0.4rem;
      
      box-shadow:5px 5px 10px fuchsia;
      outline:2px solid fuchsia;
      }
      .BodConBG2 p {
        width:100%;
        margin:auto;
        text-align: justify;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
        padding:12px;
      
      }

    .BodConBG img {
        width:24.3rem;
        height:19.4rem;
        margin-top:0.4rem;
      
      box-shadow:5px 5px 10px fuchsia;
      outline:2px solid fuchsia;
      }
      .BodConBG p {
        width:90%;
        margin:auto;
        text-align: justify;
        text-justify: inter-word;
        margin-top:0.9rem;
        word-wrap: break-word;
        padding:12px;
      
      }
   

      #TxtBox {
background-color:#381c3e;
width:50%;
border-radius:5px;
color:wihte;
border:1px solid blueviolet;
box-shadow:3px 3px 10px fuchsia;
      outline:2px solid fuchsia;
      }

      ::placeholder {

        color:white;
        text-shadow:0.4px 0.4px fuchsia;

      }
      /* Media Queries */
      @media only screen and (max-width: 600px) {

        .ContactBG {
           word-wrap:break-word;
            background-color: #120914;
            box-shadow:5px 5px 10px fuchsia;
            margin-top:10px;
        }
        #ProductBtn2 {
            margin-top:0.8rem;
            width:100%;
            border-radius:7px;
           background-color:blueviolet;
           box-shadow:3px 3px 10px fuchsia;
           border:none;
           color:white;
           text-align:center;


        }
        #ProductBtnAlph {
            margin-top:0.8rem;
            width:100%;
            border-radius:7px;
           background-color:blueviolet;
           box-shadow:3px 3px 10px fuchsia;
           border:none;
           color:white;
           text-align:center;

        }
        #ProductBtnTicket {
            margin-top:0.8rem;
            width:100%;
            border-radius:7px;
           background-color:blueviolet;
           box-shadow:3px 3px 10px fuchsia;
           border:none;
           color:white;
           text-align:center;
        
        }
        #ProductBtnSub {
            margin-top:0.8rem;
            width:100%;
            border-radius:7px;
           background-color:blueviolet;
           box-shadow:3px 3px 10px fuchsia;
           border:none;
           color:white;
           text-align:center;
        }
        .Mobile {

            display:flex;
            flex-direction:column;
            width:100%;

        }
        .col-res {

            margin-top:20px;

        }
        .BtnCenter {
            display:flex;
            margin-top:0.1rem;
            justify-content: center;
            flex-direction:column;
            }
        .BGImg2 { 

            background-image:url("https://richtershotline.github.io/Pimages/Images/Payphone2.jpg");
            /* background-size: 100% auto;
            background-repeat: no-repeat; */
        background-size:center;
        background-position:center center;
        background-attachment:local;
        padding:2rem;
        }
#ContactForm {
height:auto;
    width:100%;

}
::placeholder {

    font-size:0.1px;
}
.ForMobile {
width:100%;
display:flex;
flex-direction:column;
}
.ForMobile h3 {

font-size:12px;
}
        .ContactBG p {
          font-size:9px;
         
         }
         .ContactBG h3, h4 {
            font-size:9px;
           
           }
        #AboutImg {
            width:50%;
            height:auto;
            margin-left:0.4rem;
        }
        #TeamText {

            width:50%;
            font-size:9px;
            margin-left:9px;  
               
           }
        .BodConBG {
            display:flex;
           align-items:center;
           width:90%;
           flex-direction:column;
           font-size:0.4rem;
        }
        
        .BodConBG img {
        width:100%;
        height:100%;
        object-fit: cover;
        
        
          
        }
        #AboutText {
            width:100%;
                height:auto;
            margin:auto;
            }
        footer {

 
            bottom: 0;    
            background-color:black;
            opacity:0.7;
        height:auto;
        width: 100%;
        position: fixed;
        left: 0;
        text-align:center;
        
        
        
        }
        #VipBtn {
            width:50%;
            height:auto;
            border-radius:7px;
           margin:auto;
           background-color:blueviolet;
           box-shadow:3px 3px 10px fuchsia;
           border:none;
           color:white;
           margin-top:9px;
           text-align:center;
          
          }
        
        .BodCon p {
        
        text-align:center;
        
        }

        .BodConBG2 {
            display:flex;
            margin:auto;
         flex-direction:column;
            
         }
         .BodConBG2 img {
             width:100%;
             height:auto;
             margin-top:0.4rem;
           
           box-shadow:5px 5px 10px fuchsia;
           outline:2px solid fuchsia;
           }
           .BodConBG2 p {
             width:100%;
             margin:auto;
             text-align: justify;
             text-justify: inter-word;
             margin-top:0.9rem;
             word-wrap: break-word;
             padding:12px;
           
           }
      }
      
/* Contact Us Styling */



.ContactUsText {

    margin:auto;
    width:50%;

}
textarea {

    resize:none;

}
.ContactBG {
opacity:0.9;
    background-color:black;
    padding:0.2rem;
    margin:auto;
    box-shadow:5px 5px 10px fuchsia;

}
.ContactBG h3 {

    text-decoration:underline;

}
#ContactForm {

    width:100%;
    margin:auto;
    background-color:#1b0e1e;
    box-shadow:3px 3px 5px fuchsia;
    outline:2px solid fuchsia;
    

}
input[type=text] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}
input[type=email] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}

input[type=number] {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}


select {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;

}
textarea {

    color:white;
    text-shadow:0.4px 0.4px fuchsia;
}

.BtnCenter {
display:flex;
flex-direction: column;
margin-top:0.1rem;
justify-content: center;

}
.col-mob {

    padding-bottom:25px;

}
      /* Promise Content */ 
      #PromCon {

        background-image:url("https://richtershotline.github.io/Pimages/Images/Open2.jpg");
        /* background-size: 100% auto;
        background-repeat: no-repeat; */
      background-size:center;
      background-position:center;
      background-attachment:fixed;
      }
      #BackgroundConProm {

        background-color:black;
        opacity:0.9;
        width:100%;
        margin:auto;
        height:auto;
        text-align:center;
        padding:2rem;
      
      }
      /* Vip Content */

      #VipImg {

        width:50%;
        height:90%;
        margin:auto;
        box-shadow:5px 5px 10px fuchsia;
        outline:2px solid fuchsia;
        }
        #VipImg2 {

            width:30%;
            height:90%;
            
            box-shadow:5px 5px 10px fuchsia;
            outline:2px solid fuchsia;
            }
        .VipCon {

            display:flex;
            flex-direction:column;
            }
        

               #Text {
                max-width:50%;
                margin:auto;
                text-align: justify;
                text-justify: inter-word;
                
                padding:10px;
                word-wrap: break-word;
                }

                /* Bootstrap Card Styling */

                #CardBtn {
                    width:80%;
                    height:auto;
                    border-radius:7px;
                   margin:auto;
                   background-color:blueviolet;
                   box-shadow:3px 3px 10px fuchsia;
                   border:none;
                   color:white;
                   margin-top:9px;
                   text-align:center;
                  
                  }
                  .card {
                      
                    background-color:rgb(27, 9, 43);
                    box-shadow:5px 5px 10px fuchsia;
                    outline:2px solid fuchsia;
                  color:white;
                  }
                  .card img {
                    width:100%;
                    margin:auto;
                  
                  
                  }
                  .Checkem {
display:flex;
flex-direction:column-reverse;

                  }
                  /* Bottom Con */
                
                #PromCon2 {
                
                  background-image:url("https://richtershotline.github.io/Pimages/Images/BackgroundClub.jpg");
                  /* background-size: 100% auto;
                  background-repeat: no-repeat; */
                background-size:center;
                background-position:center;
                background-attachment:fixed;
                }

                #BackgroundConProm2 {

                    background-color:black;
                    opacity:0.9;
                    height:auto;
                    text-align:center;
                    padding:2rem;
                
                  
                  }

                 

    img {
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1;
        
        
        }
        body {
        
            background-color: 	#1b0e1e;
          color:white;
          text-shadow:0.4px 0.4px fuchsia;
        overflow-x:hidden;
        }
        :is(h2, h3, h4) {
            text-shadow:3px 3px 10px fuchsia;
        
        
        }
        /* Nav Bar styling */
        .navbar {


            &:img[alt="logo"] {
             
             width:2rem;
         
            }
         }
         
         .nav-link {
         
         color:white;
         }
         .navbar-nav > li {
         padding-left:30px;
         padding-right:30px;
         font-size:0.8rem;
         text-shadow:0.4px 0.4px fuchsia;
         
         }

        a:visited {

            

        }

 .active  {

    color:rgb(254, 213, 252) !important;
text-decoration:underline;   
 }
a:hover {
    text-shadow:2px 2px 10px fuchsia;

    color:white !important; 
    text-decoration:underline;

}
::-webkit-scrollbar {

    display:none;

}

/* Footer */


        
         /*  */
            img[alt="logo"] {
         
             width:5rem;
         
         
            }  
            :is(h2, footer p) {
         
          text-align:center;
         
            }